<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="fila">
            <div class="col izquierda">
                <h3>Education</h3>
                <div class="item izq">
                    <h4>Information Systems Engineering</h4>
                    <span class="casa">Universidad Tecnologica Nacional de Buenos Aires</span>
                    <span class="fecha">2023-Current</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>IT Technician</h4>
                    <span class="casa">Instituto Tecnico Dr.Emilio Lamarca</span>
                    <span class="fecha">2015-2022</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <h3>Courses and Certifications</h3>
                <div class="item izq">
                    <h4>Full Stack Developer</h4>
                    <span class="casa">INTI - Argentina Programa</span>
                    <span class="fecha">2022</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Computer Security Certification</h4>
                    <span class="casa">Universidad Tecnologica Nacional de Buenos Aires</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Computer Security Technician (Risk Analysis)</h4>
                    <span class="casa">Carlos Slim Fundation</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Data Network Technician</h4>
                    <span class="casa">Carlos Slim Fundation</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Perimeter IT Security Technician</h4>
                    <span class="casa">Carlos Slim Fundation</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>3D Printer Operator</h4>
                    <span class="casa">Carlos Slim Fundation</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Videogame Developer</h4>
                    <span class="casa">Carlos Slim Fundation</span>
                    <span class="fecha">2021</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>
            <div class="col derecha">
                <h3>Experience</h3>
                <div class="item der">
                    <h4>Technical Services</h4>
                    <span class="casa">Lomastec</span>
                    <span class="fecha">2020-Present</span>
                    <p>A work environment where I developed my knowledge and was able to put what I studied into practice. Thanks to the time invested here I had a great improvement in dealing with customers and suppliers. But above all, teamwork, responsibility and honesty.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Technical Services and Hardware selling</h4>
                    <span class="casa">ITTEK</span>
                    <span class="fecha">2021-Present</span>
                    <p>After a while of gaining experience, I dedicated myself to undertaking, previously exercising the aforementioned dealings with clients and thus being able to provide a better service. It's something I enjoy and it works for me. Here I dedicate myself mainly to the repair of computer equipment but I also install security cameras and web pages.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Logistics and online sales</h4>
                    <span class="casa">Abanico Bazar</span>
                    <span class="fecha">2022-2023</span>
                    <p>During My last year of high school I did the professional practices. Management of stock control software, logistics, marketing applied to Mercado Libre publications</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Computer oriented education</h4>
                    <span class="casa">Personal classes</span>
                    <span class="fecha">2023-Present</span>
                    <p>After finishing my studies as a Computer Technician, I dedicated myself to sharing my knowledge in programming, networks and 3D design in Autocad, among others.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
  
                <div class="item der">
                    <h4>IT Consultant</h4>
                    <span class="casa">Winterhill Group</span>
                    <span class="fecha">2023-Present</span>
                    <p>Lead IT consultant for WHG. My duties include: Network and security maintenance, troubleshooting support, systems install, training and support, programming automations</p>
                    <p>For references:</p>
                    <p>info@winterhillgroup.org</p>
                    <p>+1 (609)-521-8520</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>