<!-- SECCION PORTFOLIO -->
<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <h2>PORTFOLIO</h2>
        <div class="galeria">
            <a href="https://github.com/facugiffoni/PriceStation.git">
                <div class="proyecto">
                    <img src="/../assets/PriceStationPoster.png" alt="">
                    <div class="overlay">
                        <h3>Google Chrome Extension</h3>
                        <p>Software Development</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </section>