<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>CONTACT</h2>
        <div class="fila">
            <!-- Formulario -->
            <div class="col">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Number">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                <button>
                    Send Message<i class="fa-solid fa-paper-plane"></i>
                    <span class="overlay"></span>
                </button>
            </div>
            <!-- Mapa -->
            <div class="col">
                <img src="/../assets/ubicacion.png" alt="">
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            Buenos Aires, Argentina.
                        </li>
                        <li>
                            <i class="fa-solid fa-mobile-screen"></i>
                            Phone: +54 9 11 2796 6303
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            Email: facundom.giffoni83@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>
  