 <!-- MENU ENCABEZADO -->
 <div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#">Facundo</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#inicio" onclick="seleccionar()">HOME</a></li>
                <li><a href="#sobremi" onclick="seleccionar()">ABOUT ME</a></li>
                <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                <li><a href="#contacto" onclick="seleccionar()">CONTACT</a></li>
            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
  </div>