<!-- SECCION SKILLS -->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!--Hard Skills-->
            <div class="col">
                <h3>Hard Skills</h3>
  
                <div class="skill">
                    <span>Linux Handling</span>
                </div>
  
                <div class="skill">
                    <span>2D and 3D design with AutoCad</span>
                </div>
  
                
                <div class="skill">
                    <span>GIT management</span>
                </div>
  
                
                <div class="skill">
                    <span>Webpage designs</span>
                </div>
  
                
                <div class="skill">
                    <span>Diagnose and troubleshooting</span>
                </div>
  
                
                <div class="skill">
                    <span>Hardware installation</span>
                </div>
  
                
                <div class="skill">
                    <span>OS installation and configuration (Linux and Windows)</span>
                </div>
  
                
                <div class="skill">
                    <span>Networking (Routing, Switching, VLANs, Subnetting)</span>
                </div>
  
                
                <div class="skill">
                    <span>Microsoft Office</span>
                </div>
  
                
                <div class="skill">
                    <span>Multimedia editing</span>
                </div>
  
            </div>
  
            <!--Soft Skills-->
            <div class="col">
                <h3>Soft Skills</h3>
  
                <div class="skill">
                    <span>Creativity and iniciative</span>
                </div>
  
                <div class="skill">
                    <span>Comunication</span>
                </div>
  
                <div class="skill">
                    <span>Patience</span>
                </div>
  
                <div class="skill">
                    <span>Teamwork</span>
                </div>
  
                <div class="skill">
                    <span>Problem solving</span>
                </div>
  
                <div class="skill">
                    <span>Critical Thinking</span>
                </div>
  
                <div class="skill">
                    <span>Adaptability</span>
                </div>
            </div>
  
            <!--Technologies-->
            <div class="col">
                <h3>Technologies</h3>
  
                <div class="skill">
                    <span>HTML</span>
                    <div class="barra-skill">
                        <div class="progreso html">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>CSS</span>
                    <div class="barra-skill">
                        <div class="progreso css">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso javascript">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>PHP</span>
                    <div class="barra-skill">
                        <div class="progreso php">
                            <span>74%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>MySQL</span>
                    <div class="barra-skill">
                        <div class="progreso mysql">
                            <span>72%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>Python</span>
                    <div class="barra-skill">
                        <div class="progreso python">
                            <span>83%</span>
                        </div>
                    </div>
                </div>
  
                <div class="skill">
                    <span>C++</span>
                    <div class="barra-skill">
                        <div class="progreso cpp">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>